.Error{
    display: flex;
    flex-direction: column;
/* align-items: center; */
}
.Errorimg{
    position: absolute;
    z-index: -1;
    height: 732px;
    width: 100%;
    top:142px;
}
.ErrorText{
    margin: 163px 0 47px;
}
.Text404{
    text-align: center;
    margin-bottom: 37px;
}
.Text404btnText{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 236px;
    width: 341px;
    height: 53px;
    background-color: black;
    cursor: pointer;
}
.Text404btnText:hover{
    transform:scale(1.1);

}
