/* *{

} */

#root{
    max-width: 1438px;
    width: 100%;
    margin: 0 auto;
    /* display: flex;
    justify-content: space-between; */
}
.App {
    /* margin: 0 auto; */
    /* display: flex; */
    /* flex-direction: column; */
  
    /* width: 1438px; */
}