.search_container{
    position: relative;
}
 
.search_input {
    height: 23px;
    display: inline-block;
    border: none;
    outline: none;
    /* color: #D8D8D8; */
  
    padding-right: 20px;
    
    width: 0px;
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    z-index: 3;
    transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
    cursor: pointer;
}
  
.search_submit {
    height: 24px;
    width: 24px;
    text-indent: -10000px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    transition: opacity .4s ease;
}

.search_container{
    position: relative;
    height: 30px;
}
  
